POSTIZ_URL=
POSTIZ_API_KEY=
POSTIZ_CHANNEL_TIKTOK=
POSTIZ_CHANNEL_INSTAGRAM=
POSTIZ_CHANNEL_X=
POSTIZ_CHANNEL_YOUTUBE =
INSTAGRAM_APP_ID =
INSTAGRAM_APP_SECRET =
GEMINI_API_KEY = 

GROQ_API_KEY=
MAGICHOUR_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX=
DISCORD_WEBHOOK_URL=
